<%- include header %>
<div class="col-md-9 col-md-offset-1">
<% posts.forEach(function (post, index) { %>
  <div><h3><a href="/blog/<%= post._id %>"><%= post.title %></a></h3>
  </div>
  <div><p><%- post.markedContent %></p></div>
  <div class="info">
    <i class="fa fa-user"></i><a href="/user/<%= post.name %>"> <%= post.name %></a> |
    <i class="fa fa-pencil-square-o"></i><small> <%= post.createTime %></small> |
    <i class="fa fa-clock-o"></i><small> <%= post.updateTime %></small> |
    <i class="fa fa-comments"></i><small><a href="/blog/<%= post._id %>"> <%= post.comments.length %></a></small>
    <% if (user && (user.name == post.name)) { %>
      <span><a class="btn btn-info btn-xs" href="/edit/<%= post._id %>" role="button">Edit</a></span>
      <span><a class="btn btn-danger btn-xs" href="/remove/<%= post._id %>" role="button">Delete</a></span>
    <% } %>
  </div>
  <hr>
  <!-- <p><h2><a href="/blog/<%= post._id %>"><%= post.title %></a></h2></p>
  <p class="info">
    Author：<a href="/user/<%= post.name %>"><%= post.name %></a> |
    Posted at：<%= post.createTime %> |
    Updated at: <%= post.updateTime %>
  </p>
  <p><%- post.content %></p> -->
<% }) %>
</div>
<%- include footer %>
